body{
    margin:0;
    padding: 0;
    background-color:rgb(23, 22, 22);
    font-family: 'Times New Roman', Times, serif;
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    
    display: flex;
    justify-content: center;
    background-color: rgb(23, 22, 22)

}

li{
    float: left;
    padding-top: 10px;
    padding-bottom: 5px;
   
    
}



li a{
    display: block;
    text-align: center;
    color: rgb(0, 0, 0);
    
    text-decoration: none;
    padding:0 150px 1px;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 25px;
    margin: 12px;
    background-color:white;
    font-style: bold;
    transition: 0.5s;
    font-size: 20px ;
    
}
li a:hover{
    background-color: black;
    color:yellow;
    border:2px solid white;

}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 55px;
    background-color:white;
    margin-bottom: 0px;
    margin-top: 0;
    padding-bottom: 5px;
    background-color:rgb(23, 22, 22);
    transition: 0.5;
    color: white;
    text-decoration: none;
    
    
    
}
h1:hover{
    opacity: 0.5;
    cursor: pointer;
    color: yellow;
    font-style: bold;
    font-weight: 300px;
    text-decoration: none;
   
    
    
      
}

header{
    border-bottom: 2px solid white;
    margin: 0;
    padding: 0;
}

.main1{
    background-color:rgb(70, 70, 70);
    padding-bottom: 250px;
    margin: 0px 10px;
    padding-left: 10px;
    

    
}
h2{
    margin:15px 0px;
    padding:15px 0px;
    text-align: center;
    font-size: 50px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;

}

  


footer{
    justify-content: center;
    display: inline;
    background-color:rgb(80, 80, 80);
    color: yellow;
    font-weight: 100;
}

.images{
    width: 300px;
    display: inline-block;
    
    margin-left: auto;
    margin-right: auto;
}

.float-left{
 width: 250px; 
 height: 250px;
 object-fit:fill;
 padding: 1px;
 border: 1px;
 border-radius: 25px;

}
.float-left:hover{
    transform:scale(0.75);
    cursor: pointer;
}

.float-left.grow{
    transition: all 0.7s ease-in-out;
}
.outer-div-img{
    margin: 0;
    padding:0;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
}

.div-p{
    width:320px
    padding-top:100px;
    margin: 100px 50px;
    border: 10px solid black;
    height:400px;
    text-align:center;
    border-radius: 25px;
    
}

p{
    text-align: center;
    padding: auto;
    font-size: 25px;
    color: yellow;
    font-weight: 300;;
    padding-top: 15px;
    padding-bottom: 15px;
    
    
}
.p2{
    padding-top: 60px;
}

.mainbck{
    background-image: url(/bikeimgs/backgroundimg1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: max-content;
   background-position:center;
   background-size:cover;
   opacity: 0.7;
   
}
  
.div-p1{
   
   margin:15px 0px;
   padding:15px 0px;
   text-align: center;
   font-size: 50px;
   overflow:hidden;
   
   font-family: Georgia, 'Times New Roman', Times, serif;

}

.div-p3{
    width:320px
    padding-top:100px;
    margin: 100px 50px;
    border: 10px solid black;
    height:400px;
    overflow:none;   
    border-radius: 25px;
    display:relative;
    

    
}

#p3{
    color: black;
    font-weight: bolder;
    text-align: center;
    padding: 1em;
    margin-top: 90px;
    margin-bottom: 80px;
    
}

.bike-pic{
    width: 350px;
    padding:0;
    margin: 0;
    object-fit:contain;
    display: block;     
}



.bike-p1{
    
    display: block;
    object-fit: contain;
    margin: 0;
    padding-bottom:15px;
    color: yellow;
    font-size: 28x;
    font-weight: bold;
    background-color: black;
    line-height: 10px;
    
}

.button{
    width: 250px;
    height: 75px;
    overflow: hidden;
    font-weight: bold;
    font-size: 25px;
    border: 12px double black;
    padding: 0;

}

.button:hover{
    background-color:yellow;
    border: 12px double black;
    color:black;
    cursor: pointer;


}


.div-bike1{
    
    height: auto;
    display: block;
    margin: 30px;
    margin-bottom: 80px;
    border-radius:15px;
    overflow: hidden;  
    transition: 0.5s; 

}
.div-bike1:hover{
    transform:scale(0.75);
    cursor: pointer;
}

.div-bike1.grow{
    transition: all 0.7s ease-in-out;
}

.bik-wat{
    margin:150px 50px;
    padding: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
   
    display: flex;
    
}

button{
    margin: 20px;
    width: 200px;
    height:70px;
    font-size: 24px;
    background-color: yellow;
    border: 7px double black;
    font-weight: 600;
    border-radius: 25px;
}
button:hover{
    background-color:black;
    border: 12px double yellow;
    color:white;
    cursor: pointer;
}
